.about__us {
    width: 100%;
    min-height: 100vh;
    padding: 10rem;
}

.about__us > .container >.about__us__elements {
    width: 100%;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

 .about__us_element {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 18rem;
    padding: 3rem;
    margin: 15px;
    background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
    border-radius: 10px;
    color: white;
}

.about__us_element > .about__us__icon {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    padding: 10px;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 50%;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    top: -50px;
}


.about__us_element > span {
    margin-top: 30px;
    font-family: 'Roboto', sans-serif;
}

@media screen and (max-width: 1300px) {
    .about__us_element:not(:last-child) {
        margin-bottom: 60px;
    }
}

@media screen and (max-width: 992px) {
    .about__us {
        padding: 5rem 0px;
    }
}

