.add__products__form {
    margin: 0 auto;
   display: flex;
   justify-content: center;
   align-items: flex-start;
   flex-direction: column;
   width: 70%;
   margin-top: 50px;
   margin-bottom: 50px;
}

.add__products__form form {
    width: 100%;
}

.add__products__form .added-message {
    width: 50%;
    margin-top: 30px;
    text-align: center;
}